.container{
    display: grid;
    grid-template-columns: auto 200px 100px; /* representa a coluna, basicamente a largura*/
    grid-template-rows: 50px 100px 150px 200px; /*representa as linhas, basicamente a altura delas */
    grid-gap: 10px; /*primeiro numero é para linha e o segundo representa a coluna*/
    
}
.item{
    background-color: blue;
    border-radius: 10px;
    padding: 20px;
    color: #ffffff;
}