table{
    width: 600px;
    
}
th, td{
    border: solid black ;
    padding: 10px;
    text-align: left;
}
tbody tr:hover{
    background-color: crimson;
}
table thead{
    background-color: aqua;
}
table tbody{
    background-color: burlywood;
}